ion-menu-button {
    color: var(--ion-color-primary);
  }
  
ion-card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe {
    width: 300px;
    height: 30vh; /* 60% of the viewport height */
  }
  